*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    
}
a{
    color: seashell;
}
h2,h3,h4{
    margin: 0px;
    padding: 10px;
}
/* Header sections */
.flex-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
header img{
    height: 50px;
    padding: 10px;
    display: inline-block;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 69px;
    align-items: center;
    border-bottom: 1px solid seashell;
}
nav{
    flex-grow: 1;
    text-align: right;
}
nav span{
    display: inline-block;
    padding: 20px 10px;
}
/* Mission section */
.main{
    padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
#mission{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*178lh1c*_ga*ODQ5MDYzODA0My4xNjkxMTU1MDky*_ga_3LRZM6TM9L*MTcwMDE5NDczNy4yNi4xLjE3MDAxOTY2NjguMzIuMC4w");
    height: 700px;
    padding-top: 70px;
}
#mission .content{
    margin: auto;
    text-align: center;
    background-color: black;
    width: 100%;
}
/* Shop section */

#shop {
    height: 700px;
    width: 100%;
    margin: auto;
    padding-top: 70px;
    text-align: center;
  }
  .item{
    padding: 5px;
  }
.item img{
    width: 300px;
    padding: 10px;
    display: block;
}
.item span{
display: block;
text-align: center;
}
.flex-container items{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
/* Location section */
.flex-container.locations{
    padding-top: 5px;
}
#locations{
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*14ytakr*_ga*ODQ5MDYzODA0My4xNjkxMTU1MDky*_ga_3LRZM6TM9L*MTcwMDIzMzE4Mi4yOS4xLjE3MDAyMzMzNjguNTQuMC4w");
height: 500px;
width: 100%;
padding-top: 72px;
}
#locations .flex-container{
    margin: auto;
    width: 1100px;
}
#locations h2{
    text-align: center;
}
.location{
    width: 300px;
    display: flex;
    flex-basis: 280px;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
}
.location h3{
    text-align: center;
}
.location p{
    text-align: center;
    padding: 18px;
}
/* Contact section */
.contact{
    text-align: center;
    line-height: 2em;
}
footer{
    padding-left: 20px;
    text-align: left;
}